.wrapper_container {
  min-height: 100vh;
  display: flex;
  justify-content: center; /* vertical */
  align-items: center;     /* horizontal */
}

/* Card central */
.login_card {
  width: 100%;
  max-width: 600px;
  padding: 32px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  text-align: center;
}
