.container {
  padding: 32px;
  background-color: #f8fafc;
  min-height: 100vh;
}

.wrapper_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_title h1 {
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 600;
  color: #0f172a;
}

/* ===== TABELA ===== */

